<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% block head_extras %}{% endblock %}
</head>
<style>
    /* Offline test style here */
</style>
<body>
    <div id="main-wrapper">
        {% block main_wrapper %}{% endblock %}
    </div>

    {% block js_load %}{% endblock %}
</body>
</html>