<form action="{% url 'exam:test' test.pk %}" method="post" id="test-form">
    {% csrf_token %}
    <h3>{{ test.name }}</h3>
    {% if not nodownload %}<a href="{% url 'exam:test-offline' test.pk %}">
        Скачать
    </a>{% endif %}
    <ul class="list-group">
        {% for question in test.questions %}<li class="list-group-item">
            <h4>{{ question.name }}</h4>
            <ul class="list-group">
                {% for answer in question.answers %}<li class="list-group-item">
                    <input type="radio" name="q_{{ question.pk }}"
                           id="q_{{ question.pk }}_{{ answer.pk }}"
                           value="{{ answer.pk }}">
                    <label for="q_{{ question.pk }}_{{ answer.pk }}">
                        {{ answer.name }}
                    </label>
                {% endfor %}
            </ul>
            <span class="badge">{{ test.passed_count }}</span>
        </li>
        {% endfor %}
    </ul>
    <button type="submit" id="test-submit" class="btn btn-success pull-left">
        Отправить
    </button>
    <div class="pull-left" id="test-result"></div>
</form>