{% extends "base.html" %}
{% load assets %}

{% block js_load %}
{% assets "js_exam" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "css_exam" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block main_wrapper %}

<section id="container">
    <div class="row">
        <div class="col-md-3" id="tests-list">
            <div class="list-group">
                {% for test in tests_list %}<button type="button" class="list-group-item" data-tid="{{ test.id }}">
                    {{ test }}
                    <span class="badge">{{ test.passed_count }}</span>
                </button>
                {% endfor %}
            </div>
        </div>
        <div id="test-info" class="hidden"></div>
    </div>
</section>
{% endblock %}